.centered_container {
  width: 90%;
  height: 60%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.centered_background_container {
  width: 90%;
  height: 60%;
  background-color: black;
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.5;
  border-radius: 10px;
}

.intro {
  margin: 1rem;
}

.contact_me_span {
  text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
  .centered_container {
    width: 60%;
    height: 45%;
  }

  .centered_background_container {
    width: 60%;
    height: 45%;
  }
}
