:root {
  --lightblue: rgb(127, 177, 194);
}

* {
  margin: 0;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* All main components use this for auto spacing for navbar */
.main_content {
  /* create spaceing for the navbar */
  padding-top: 3rem;
  height: calc(100vh - 3rem);

  position: fixed;
  left: 0;
  right: 0;
  z-index: 9998;
}
